.header_div {
    font-size: 40px;
    color: rgb(248, 133, 198);
}


.dis_div {
    font-size: 20px;
    color: rgb(250, 153, 154);
}

.img-fluid{
    height: 430px !important;
}

.row_div{
    padding-top: 100px;
}

.img-fluid {
    
    animation: img_div 1s ease-in-out infinite alternate-reverse both;
}

@keyframes img_div {

    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}
@keyframes img_div {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.btn-success,
.btn-primary
{
    border-radius: 50px !important;
    background-color: rgb(222, 134, 244) !important;
    border: rgb(244, 97, 193) !important;
}

.btn:hover{
    background-color: rgb(242, 98, 127) !important;
    
}

.navbar-brand{
    font-size: 30px !important;
    color: rgb(255, 168, 182) !important;

}


.nav-link{
    font-size: 18px !important;
    color: rgb(248, 142, 160) !important;
}

h1,h5,p{
    color: rgb(248, 142, 160) !important;
}

.card{
    border-color: rgb(248, 142, 160) !important ;
    box-shadow: 1px 5px 10px 1px rgb(248, 142, 160);
}

